@model RelayMotorInsuranceCalculator.ViewModels.PremiumCalculatorVm

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datepicker")
    <script>
        $(function () {
            $('#datetimepicker').datetimepicker({
                locale: 'en-gb',
                format: 'L',
                showTodayButton: true
            });
        });

        $.post('/Timesheet/SubmitTimesheet', { date: date, vm: vm }, function (result) {
            if (result && result.errorMessage && result.errorType) {
                ShowAlert(result.errorType, result.errorMessage);
            }
            $.unblockUI();
        });
    </script>
}


<div class="row">
    <h2>Motor Insurance Premium Calculation</h2>
</div>
<div class="row">
    <div class="col-md-2">
        Policy Start Date
    </div>
    <div class='col-md-3'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker'>
                @Html.EditorFor(o => o.Policy.StartDate, new {htmlAttributes = new {@class = "form-control"}})
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="pull-right col-md-2">
        <button class="btn btn-default" type="submit">Calculate</button>
    </div>
</div>

